<div class="container">
  <h1 class="display-4 text-center">ChatGo</h1>
</div>

<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" >
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
  </div>
  <button type="submit" class="btn btn-success">Iniciar Sesion</button>
  <a href="/register" class="text-decoration-none"><button type="button" class="btn btn-secondary mt-2">Registrarse</button></a>
</form>

<section class="login-block">
  
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <button (click)="handleAuth()" class="btn btn-lg btn-google btn-block text-uppercase btn-outline"><img
            src="https://res.cloudinary.com/dz4tt9omp/image/upload/v1712537582/google-logo.png"> Iniciar Sesion con Google</button>
      </div>
    </div>
  </div>
</section>

<div *ngIf="registrationMessage" class="alert alert-success" role="alert">
  <h4 class="alert-heading">¡Registro Exitoso!</h4>
  <p>{{ registrationMessage }}</p>
  <hr>
  <p class="mb-0">Por favor, revisa tu bandeja de entrada y sigue las instrucciones para verificar tu cuenta.</p>
</div>
